# set
set은 수학의 집합과 비슷한 형태
중복되는 데이터의 입력을 허용하지 않는다
데이터를 입력하는 순서와 실제로 데이터가 저장되는 순서가 다르다
딕셔너리처럼 {}를 사용해서 선언하지만 key가 존재하지 않고 value만 존재한다

# set 생성

In [1]:
l1 = []
print(type(l1))
l2 = list()
print(type(l2))
t = ()
print(type(t))
t = tuple()
print(type(t))
d = {}
print(type(d))
d = dict()
print(type(d))
# 빈 set은 반드시 생성자를 사용해서 만들어야 한다
s = set()
print(type(s))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'dict'>
<class 'dict'>
<class 'set'>

In [2]:
s1 = {1,2,3,4}
print(s1)
print(type(s1))
# set은 중복되는 데이터 입력을 허용하지 않는다
s2 = {1,2,3,4,5,2,4,6,1,3,1}
print(s2)
print(type(s2))
# 리스트를 생성지의 인수로 지정해서 set을 만들 수 있다
s3 = set([1,2,3,4])
print(s3)
print(type(s3))
# 튜플을 생성자의 인수로 지정해서 set을 만들 수 있다
s4 = set((1,2,3,4))
print(s4)
print(type(s4))

{1, 2, 3, 4}
<class 'set'>
{1, 2, 3, 4, 5, 6}
<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{1, 2, 3, 4}
<class 'set'>

# set 메소드
add() : set에 데이터 1건을 추가
update() : set에 리스트를 이용해서 여러 데이터를 한 번에 추가
remove() & discard() : set에 저장된 데이터를 제거
copy() : set을 복사

In [10]:
s5 = {'홍길동'}
print(s5)
# add()
# 데이터를 저장하는 순서와 실제 데이터가 저장되는 순서는 다르다
s5.add('장길산')
print(s5)
s5.add('임꺽정')
print(s5)
s5.add('일지매')
print(s5)

{'홍길동'}
{'홍길동', '장길산'}
{'임꺽정', '홍길동', '장길산'}
{'일지매', '임꺽정', '홍길동', '장길산'}

In [4]:
print('홍길동' in s5)
print('홍길자' in s5)
print('홍길동' not in s5)
print('홍길자' not in s5)

True
False
False
True

In [11]:
# update()
s5.update(['손오공','저팔계','사오정'])
print(s5)

{'손오공', '사오정', '일지매', '임꺽정', '홍길동', '저팔계', '장길산'}

In [12]:
# remove()
s5.remove('홍길동')
print(s5)
# s5.remove('홍길동') # remove()는 set내에 존재하지 않는 데이터를 삭제하려 했으므로 에러

{'손오공', '사오정', '일지매', '임꺽정', '저팔계', '장길산'}

In [13]:
# discard()
s5.discard('임꺽정')
print(s5)
s5.discard('임꺽정') # discard()는 set에 존재하지 않는 데이터를 삭제해도 에러가 발생하지 않는다

{'손오공', '사오정', '일지매', '저팔계', '장길산'}

In [14]:
# copy()
s6 = s5
print(s6)
s7 = s5.copy()
print(s7)

{'손오공', '사오정', '일지매', '저팔계', '장길산'}
{'저팔계', '손오공', '사오정', '일지매', '장길산'}

# 집합연산자와 메소드
합집합 : union(), |
교집합 : intersection(), &
차집합 : difference(), -
대칭 차집합(합집합 - 차집합) : symmetric_difference(), ^

In [17]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
# 합집합
print(a.union(b))
print(a | b)
# 교집합
print(a.intersection(b))
print(a & b)
# 차집합
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)
# 대칭 차집합(합집합 - 교집합)
print(a.symmetric_difference(b))
print(a ^ b)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{6, 7}
{6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}