# 튜플만들기
tuple은 list와 거의 비슷하지만 list는 []로 둘러 싸고 tuple은 ()로 둘러 싸고
list는 데이터를 수정 삭제가 가능하지만 tuple은 불가능하다

In [1]:
# 빈 튜플 만들기
t1 = ()
print(t1)
print(type(t1))
# 생성자를 이용해서 빈 튜플 만들기
t2 = tuple()
print(t2)
print(type(t2))

()
<class 'tuple'>
()
<class 'tuple'>

In [6]:
# 1개 데이터만 가지는 튜플을 만들어야 할 경우 반드시 데이터 뒤에 ','를 찍어 줘야 한다
t3 = (1,)
print(t3)
print(type(t3))

(1,)
<class 'tuple'>

In [4]:
t4 = (1,2)
print(t4)
print(type(t4))

(1, 2)
<class 'tuple'>

In [2]:
# 튜플은 ()를 생략해도 하나의 변수에 데이터를 ','로 구분헤서 여러개를 넣으면 튜플로 인식한다
t5 = 1,2,3,4,5,6 # 튜플을 생성시 ()를 생략했다
print(t5)
print(type(t5))

t6 = ('a', 'b', ('ab', 'cd'))
print(t6)
print(type(t6))

# t6[0] = 'z' # 튜플에 저장된 데이터를 수정하려 했으므로 에러
# del t6[0] # 튜플에 저장된 데이터를 삭제하려 했으므로 에러

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
('a', 'b', ('ab', 'cd'))
<class 'tuple'>

# 인덱싱과 슬라이싱
리스트와 같이 인덱싱과 슬라이싱이 가능하다

In [7]:
print(t6[0])
print(t6[2])
print(t6[2][0])
print('*' * 75)

print(t6[0:2])
print(t6[:2])
print(t6[1:])

a
('ab', 'cd')
ab
***************************************************************************
('a', 'b')
('a', 'b')
('b', ('ab', 'cd'))

# 튜플 연산자
'+' : 튜플 연결
'*' : 튜플 반복

In [3]:
print(t5 + t6)
print(t6 * 3)

(1, 2, 3, 4, 5, 6, 'a', 'b', ('ab', 'cd'))
('a', 'b', ('ab', 'cd'), 'a', 'b', ('ab', 'cd'), 'a', 'b', ('ab', 'cd'))